
@model Notify.Models.ClientMessage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <p>From:  @Model.Name</p>
    <p>Email:  @Model.Email</p>

    @if (Model.Phone != "")
    {
        <p>Phone: @Model.Phone</p>
    }

    @if (Model.Message != "")
    {
        <p>Message: @Model.Message</p>
    }

    @if (Model.CustomValues.Count > 0)
    {
        for (int i = 0; i < @Model.CustomValues.Count; i++)
        {
            <p>@Model.CustomValues[i]</p>
        }
    }


</body>
</html>
